<div class="container">
  <div class="well">
    <img src="assets/tw-logo.png" alt="Security Challenge" height="20"/>

    <h1 class="text-center">安全攻防营之英雄榜</h1>

    <div class="clearfix"></div>
  </div>

  <h2>请提交Token</h2>

  <div class="row">

    <div class="col-md-4">
      <%= form_tag('/score', {:role => "form"}) do -%>
          <div class="form-group">
            <label for="your_name">英雄请留下大名: </label>
            <%= text_field_tag("your_name", nil, {maxlength: 20, class: "form-control"}) %>
          </div>
          <div class="form-group">
            <label for="answer_token">请提交你的Token: </label>
            <%= text_field_tag("answer_token", nil, {maxlength: 20, class: "form-control"}) %>
          </div>
          <button type="submit" class="btn btn-success">提交</button>
      <% end -%>
    </div>

  </div>

  <hr />

  <h2>英雄榜</h2>

  <table class="table table-condensed">
    <tr>
      <% (1..@challenge_count_max).each do |i| %>
          <th>漏洞 <%= i %></th>
      <% end %>
    </tr>

    <tr>
      <% (0..@challenge_count_max-1).each do |j| %>
          <td class="col-md-2">
            <ul>
              <% @scores[j].each do |score| %>
                  <li><%= score.user_name %></li>
              <% end %>
            </ul>
          </td>
      <% end %>
    </tr>

  </table>

  <br/>
</div>